$primary-black: #101820;
$primary-white: #ffffff;
$primary-gray: #6e7898;
$primary-purple: #764abc;
$primary-dark-purple: #6a43a9;
$primary-light-purple: #845cc3;
$primary-lighter-purple: #916ec9;

$secondary-gray: #9b9bb4;
$secondary-silver: #eeebf2;
$stroke-faded: #eeebf2;

$tertiary-gray: #faf9fb;

$success: #1e6b4b;
$danger: #df585a;
